html,
body {
  height: 100%;
}

body {
  color: $accent;
  @include font(20px, 1.5, 400);
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $default-bc;

  &.lock {
    overflow: hidden;
    position: relative;
    height: 100vh;

    &::after {
      @include pseudo;
      display: block;
      inset: 0;
      background-color: rgba($bg-anim, 0.50);
    }
  }

  &::-webkit-scrollbar {
    height: 20px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $default;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.f-alc {
  align-items: center;
}

.f-jcsb {
  justify-content: space-between;
}

.f-jcsa {
  justify-content: space-around;
}

.f-jcse {
  justify-content: space-evenly;
}

.f-jcc {
  justify-content: center;
}

.f-jcfe {
  justify-content: flex-end;
}

.f-dc {
  flex-direction: column;
}

.title {
  @include font(36px, 1.3, 500);
  @include line-clamp(3);
  color: $accent;
  text-align: center;
  margin-bottom: 60px;

  @include mq('tablet') {
    @include font(24px, 1.3, 500);
    margin-bottom: 40px;
  }

  @include mq('phone') {
    margin-bottom: 30px;
  }
}

.t-left {
  text-align: left;
}

.section {
  padding: 60px 0;

  @include mq('tablet-2') {
    padding: 50px 0;
  }

  @include mq('tablet') {
    padding: 40px 0;
  }

  @include mq('phone') {
    padding: 20px 0;
  }
}

.animation {
  @include font(18px, 1.3, 400);
  @include line-clamp(1);
  border-radius: 6px;
  transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;

  &:hover {
    color: $default;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($default, 0.70);
  }

  &:active {
    color: $accent;
    box-shadow: none;
    text-shadow: 2px 2px 5px rgba($accent, 0.50);
  }
}

.burger {
  display: none;

  @include mq('tablet') {
    display: block;
  }

  @include burger();
}

.menu-burger {
  &__close {
    @include burger-close();
  }

  position: absolute;
  background-color: $decor;
  padding-bottom: 15px;
  inset: 0;
  width: 85%;
  height: 100vh;
  overflow-x: auto;
  display: block;
  transition: transform 0.5s;
  transform: translateX(-200%);
  z-index: 200;
  transition: background-color 0.3 ease-in-out;

  &--active {
    transform: translateX(0%);
  }

  &__img {
    padding: 25px 0;
  }

  &__list,
  &__address {
    padding: 25px 15px;
  }

  &__list {
    position: relative;

    &::after {
      @include pseudo();
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $border-top;
    }
  }

  &__link {
    padding: 11px 0;
  }

  &__bg {
    background-color: rgba($bg-anim, 0.50);
  }
}

.breadcrumbs {
  padding-top: 159px;

  &__content {
    background-color: rgba($default, 0.10);
    padding: 24px 0;
  }

  &__copy {
    padding-left: 9px;
  }

  &__item {
    color: $text;
    @include font(14px, 1.05, 400);
    letter-spacing: 0.2;
    position: relative;

    &::after {
      @include pseudo();
      @extend %bc-images;
      width: 10px;
      height: 10px;
      left: 60px;
      top: 2px;
      transform: translateX(-2px);
      background-image: url('../images/sprite.svg#icon-chevron');
      background-size: contain;
      filter: invert(91%) sepia(0%) saturate(258%) hue-rotate(147deg) brightness(87%) contrast(89%);
    }

    &:first-child {
      margin-right: 7px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.animation-line {
  border-radius: 0;
  @include font(20px, 1.5, 400);
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s;

  &::after {
    @include pseudo;
    height: 1px;
    width: 100%;
    background-color: $accent;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
    transition: transform 0.7s;
  }

  &:hover::after {
    transform: scaleX(0);
  }

  &:focus::after {
    border-radius: 6px;
    transform: scaleX(0);
  }

  @include mq('tablet') {
    font-size: 16px;
  }
}


.animation-btn {
  @extend %btn-large;
  letter-spacing: 0.54px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

  &:hover {
    background-color: rgba($decor, 0.10);
    box-shadow: 0 0 0 2px rgba($default, 0.70), 0 5px 12px 0 rgba($default, 0.20);
    color: $default;
  }

  &:focus {
    background-color: rgba($default, 0.10);
    box-shadow: 0 0 0 2px rgba($default, 0.70);
    color: $default;
  }

  &:active {
    background-color: rgba($default, 0.10);
    box-shadow: none;
    color: $default;
  }

  @include mq('tablet') {
    padding: 8px 24px;
    font-size: 14px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pagination-animation {
  background-color: rgba($default, 0.10);
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.pagination {
  padding-right: 250px;
  &__item {
    margin-right: 6px;
    @include font(18px, 1, 400);
    letter-spacing: 0.05em;
  }

  &__link {
    &--active {
      box-shadow: 0 0 0 1px $title;
    }
  }
  &__arrows {
    position: relative;
    background-color: rgba($default, 0.10);
    width: 48px;
    height: 48px;

    &::before {
      @include pseudo();
      width: 15px;
      height: 18px;
      background-image: url('../images/sprite.svg#icon-chevron-left');
      @extend %bc-images;
      background-size: contain;
    }
  }

  &__prev {
    &::before {
      filter: invert(91%) sepia(0%) saturate(258%) hue-rotate(147deg) brightness(87%) contrast(89%);
    }
    margin-right: 6px;
  }

  &__next {
    &::before {
      transform: rotate(180deg);
    }
  }

}