     <section class="interested interested-slider section">
      <div class="container">
        <h3 class="interested__title title">Вас може зацікавити</h3>
        <ul class="interested__content interested-slider__inner d-flex">
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-1.jpg" alt="фото чізбургер з листями салату"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
              <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-2.jpg" alt="фото біфбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Біфбургер</h3>
              <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-3.jpg" alt="фото королівський чізбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Королівський чізбургер</h3>
              <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-4.jpg" alt="фото чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чорний гамбургер</h3>
              <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-5.jpg" alt="фото чікен" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чікен бургер</h3>
              <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content  d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-1.jpg" alt="фото чізбергера з листями салату"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
              <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-2.jpg" alt="фото біфбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Біфбургер</h3>
              <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-3.jpg" alt="фото королівський чізбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Королівський чізбургер</h3>
              <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-4.jpg" alt="фото чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чорний гамбургер</h3>
              <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="interested__item interested-slider__item d-flex f-alc f-dc">
            <article class="product-card interested-slider__content d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-5.jpg" alt="фото чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чікен бургер</h3>
              <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
        </ul>
      </div>
    </section>