    <section class="product-page">
      <div class="container">
        <div class="product-page__inner section d-flex">
          <ul class="product-page__slider-list d-flex f-alc">
            <li class="product-page__slider-item">
              <div class="product-page__slider-content d-flex f-jcc">
                <img class="product-page__slider-img" src="images/products/item/burger.jpg"
                  alt="чізбургер з листями салату" width="400" height="400">
              </div>
            </li>
            <li class="product-page__slider-item">
              <div class="product-page__slider-content d-flex f-jcc">
                <img class="product-page__slider-img" src="images/products/item/burger.jpg"
                  alt="чізбургер з листями салату" width="400" height="400">
              </div>
            </li>
            <li class="product-page__slider-item">
              <div class="product-page__slider-content d-flex f-jcc">
                <img class="product-page__slider-img" src="images/products/item/burger.jpg"
                  alt="чізбургер з листями салату" width="400" height="400">
              </div>
            </li>
          </ul>
          <div class="product-page__content">
            <h1 class="sr-only">Чізбургер</h1>
            <h2 class="product-page__title title">Чізбургер з листям салату</h2>
            <div class="star" data-rateyo-rating="4"></div>
            <span class="product-page__price">160 грн.</span>
            <form class="product-page__form" action="#">
              <input class="product-page__item-num" type="number" value="1" min="1" max="100" readonly>
              <button class="product-page__item-btn animation-btn " type="button">
                Додати до кошика
                <svg class="product-page__icon">
                  <use xlink:href="images/sprite.svg#icon-bucket"></use>
                </svg>
              </button>
            </form>
            <div class="product-page__box">
              <h3 class="product-page__box-title">Доставка та оплата</h3>
              <p class="product-page__box-text">
                Мінімальна сума замовлення — 160 грн. <br>
                Час доставки замовлення — 80-140 мин. <br>
                Оплата здійснюється тільки банківською карткою.
                Остаточна сума замовлення формується після збору товарів.
              </p>
              <button class="product-page__box-btn animation animation-line">Детальніше</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-page__tabs-content">
        <div class="product-tabs">
          <ul class="product-tabs__list d-flex">
            <li class="product-tabs__item">
              <a class="product-tabs__link product-tabs__link--active" href="#tab-descr">Опис</a>
            </li>
            <li class="product-tabs__item">
              <a class="product-tabs__link" href="#tab-haract">Характеристики</a>
            </li>
            <li class="product-tabs__item">
              <a class="product-tabs__link" href="#tab-rew">Відгуки (2)</a>
            </li>
          </ul>
          <div class="product-tabs__content">
            <div class="product-tabs__content-item product-tabs__content-item--active" id="tab-descr">
              <p class="product-tabs__content-text">Рубаний біфштекс із натуральної яловичини на карамелізованій
                булочці, зі скибочкою сиру "Чеддер", кетчупом, гірчицею, цибулею та маринованими огірочками.</p>
              <p class="product-tabs__content-text">Алергени: глютен, молоко, гірчиця. Може містити сою, яйце, сліди
                кунжуту</p>
              <p class="product-tabs__content-text">Зовнішній вигляд товару може відрізнятися від зображень,
                представлених на сайті.</p>
            </div>
            <div class="product-tabs__content-item" id="tab-haract">
              <ul class="product-tabs__content-list">
                <li class="product-tabs__list-item">
                  Діаметр: <span class="product-tabs__span">20 см</span>
                </li>
                <li class="product-tabs__list-item">
                  Вага: <span class="product-tabs__span">300 гр </span>
                </li>
                <li class="product-tabs__list-item">
                  Калорійність (на 100г): <span class="product-tabs__span">295 ккал</span>
                </li>
                <li class="product-tabs__list-item">
                  Термін зберігання: <span class="product-tabs__span">до 3 діб</span>
                </li>
              </ul>
            </div>
            <div class="product-tabs__content-item" id="tab-rew">
              <div class="product-tabs__comments">
                <div class="comments">
                  <h3 class="comments__title">Думки наших клієнтів</h3>
                  <figure class="comments__figure d-flex f-alc">
                    <img class="comments__avatar" src="images/avatar.jpg" alt="аватар" width="70" height="70">
                    <figcaption class="comments__author">Андрій
                      <span class="comments__date">10.06.2021</span>
                    </figcaption>
                    <div class="comments__star star" data-rateyo-rating="5"></div>
                  </figure>
                  <blockquote class="comments__blockquote">Доставили швидко. Товар свіжий та дуже смачний, буду ще
                    обов’язково куштувати! </blockquote>
                </div>
                <div class="comments">
                  <figure class="comments__figure d-flex f-alc">
                    <img class="comments__avatar" src="images/avatar.jpg" alt="аватар" width="70" height="70">
                    <figcaption class="comments__author">Катерина Біла
                      <span class="comments__date">7.06.2021</span>
                    </figcaption>
                    <div class="comments__star star" data-rateyo-rating="4"></div>
                  </figure>
                  <blockquote class="comments__blockquote">Цей бургер непоганий на смак, особливо, коли немає можливості
                    або часу щось готувати. Це чудовий варіант, щоб перекусити находу, але, щоб себе побалувати, краще
                    замовлю піцу</blockquote>
                </div>
              </div>
              <div class="comments-reviews">
                <h3 class="comments__title">Залишити відгук</h3>
                <div class="comments-reviews__box d-flex f-alc">
                  <p class="comments-reviews__title">Ваша оцінка *</p>
                  <div class="comments-reviews__star star"></div>
                </div>
                <form class="comments-reviews__form d-flex" action="#">
                  <label class="comments-reviews__label d-flex f-dc" for="#">
                    Ваш відгук *
                    <textarea class="comments-reviews__textarea" placeholder="Введіть текст відгука"></textarea>
                  </label>
                  <div class="comments-reviews__label-box d-flex f-dc">
                    <label class="comments-reviews__label" for="#">
                      Ім’я
                      <input class="comments-reviews__input" type="text" placeholder="Введіть ваше ім’я">
                    </label>
                    <label class="comments-reviews__label" for="#">
                      Email *
                      <input class="comments-reviews__input" type="text" placeholder="youremail@mail.com">
                    </label>
                  </div>
                </form>
                <label class="comments-reviews__label label-text d-flex">
                  <input class="comments-reviews__input-check" type="checkbox">
                  <span class="comments-reviews__checkbox"></span>
                  Зберегти моє ім’я, email та адресу сайта в цьому браузері для наступних моїх коментарів.
                </label>
                <button class="comments-reviews__btn animation-btn">Залишити відгук</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>