    <section class="category section">
      <div class="container">
        <h2 class="title category__title">Популярне в категоріях</h2>
        <ul class="category-filter d-flex f-alc f-jcc">
          <li class="category-filter__item">
            <button class="button category-filter__item-btn" data-filter="all" type="button">
              <svg class="button__icon">
                <use xlink:href="images/sprite.svg#icon-category-burger"></use>
              </svg>
              Бургери
            </button>
          </li>
          <li class="category-filter__item">
            <button class="button category-filter__item-btn" data-filter=".category-pizza" type="button">
              <svg class="button__icon">
                <use xlink:href="images/sprite.svg#icon-category-pizza"></use>
              </svg>
              Піца
            </button>
          </li>
          <li class="category-filter__item">
            <button class="button category-filter__item-btn" data-filter=".category-sandwich" type="button">
              <svg class="button__icon">
                <use xlink:href="images/sprite.svg#icon-category-sandvich"></use>
              </svg>
              Сендвічі
            </button>
          </li>
          <li class="category-filter__item">
            <button class="button category-filter__item-btn" data-filter=".category-askitchen" type="button">
              <svg class="button__icon">
                <use xlink:href="images/sprite.svg#icon-category-asia"></use>
              </svg>
              Азійська кухня
            </button>
          </li>
          <li class="category-filter__item">
            <button class="button category-filter__item-btn" data-filter=".category-network" type="button">
              <svg class="button__icon">
                <use xlink:href="images/sprite.svg#icon-category-dish"></use>
              </svg>
              Cети
            </button>
          </li>
        </ul>
        <ul class="category__content d-flex">
          <li class="category__item d-flex f-alc f-dc mix category-pizza">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-1.jpg" alt="фото чізбургер з листями салату"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
              <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc f-alc mix category-pizza">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-2.jpg" alt="фото біфбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Біфбургер</h3>
              <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-pizza">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-3.jpg" alt="фото королівський чізбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Королівський чізбургер</h3>
              <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-pizza">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-4.jpg" alt="фото чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чорний гамбургер</h3>
              <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn" type="button">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-pizza">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-5.jpg" alt="фото чікен" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чікен бургер</h3>
              <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-pizza">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-1.jpg" alt="фото чізбергера з листями салату"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
              <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-pizza">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-2.jpg" alt="фото біфбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Біфбургер</h3>
              <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-sandwich">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-3.jpg" alt="фото королівський чізбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">Королівський чізбургер</h3>
              <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-sandwich">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-4.jpg" alt="фото чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чорний гамбургер</h3>
              <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
          <li class="category__item d-flex f-alc f-dc mix category-askitchen">
            <article class="product-card d-flex f-dc">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/category/photo-5.jpg" alt="фото чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">Чікен бургер</h3>
              <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
              <button class="product-card__btn animation-btn">До кошика</button>
            </article>
          </li>
        </ul>
        <button class="category__btn animation animation-line " type="button">Показати ще</button>
      </div>
    </section>