    <section class="delivery section">
      <div class="container">
        <div class="delivery__inner d-flex f-jcsa f-alc">
          <div class="delivery__img" style="background-image: url('images/food_delivery.png')"><span
              class="sr-only">мультяші герої з доставки</span></div>
          <div class="delivery__content">
            <h3 class="delivery__title title">Залишайтеся вдома, а ми
              потурбуємося про їжу
            </h3>
            <p class="delivery__text">У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою
              доставкою прямо зараз та отримайте знижку!
            </p>
            <ul class="delivery__list">
              <li class="delivery__item delivery__item--time">Швидка доставка за 15 хвилин</li>
              <li class="delivery__item delivery__item--delivery">Чемні кур’єри</li>
              <li class="delivery__item delivery__item--restoran">Більше 500 закладів</li>
            </ul>
            <button class="delivery__btn animation-btn" type="button">Детальніше</button>
          </div>
        </div>
      </div>
    </section>