    <section class="hero-section">
      <div class="container">
        <h1 class="sr-only">Найшвидчий сервер доставки їжі</h1>
        <div class="hero-section__inner d-flex f-alc f-jcsb">
          <div class="hero-section__content">
            <h2 class="hero-section__title">
              Доставка
              <span class="hero-section__subtitle">
                за 15 хвилин
              </span>
            </h2>
            <p class="hero-section__text">Найшвидший сервіс доставки їжі у вашому місті. Якщо запізнемось - то доставка
              за
              наш рахунок</p>
            <div class="hero-section__buttons anim">
              <a class="hero-section__btn animation-btn" href="#">Замовити</a>
              <a class="hero-section__link animation animation-line " href="#">Детальніше</a>
            </div>
          </div>
          <div class="hero-section__img" style="background-image: url('images/scooter_guy.png');">
            <span class="sr-only">персонаж на жовтому скутері</span>
          </div>
        </div>
      </div>
    </section>