
    <section class="reviews-slider section">
      <div class="container">
        <h2 class="title">Відгуки клієнтів</h2>
        <ul class="reviews-slider__inner">
          <li class="reviews-slider__item">
            <div class="reviews-slider__content d-flex f-jcc f-alc">
              <img class="reviews-slider__img" src="images/daryna-client.jpg" alt="Клієнт Дарина" width="300"
                height="300">
              <div class="reviews-slider__box">
                <blockquote class="reviews-slider__blockquote">
                  <p class="reviews-slider__text text">SimpleFood - одна з найкращих служб доставки продуктів з
                    ресторанів у місті. Дуже
                    зручний сайт та застосунок. Їхні доставники дуже ввічливі та пунктуальні. Компанія часто проводить
                    акції та дарує знижки на доставку - однозначно рекомендую!</p>
                </blockquote>
                <figure class="reviews-slider__figure">
                  <figcaption class="reviews-slider__figcaption">Дарина
                    <span class="reviews-slider__subtitle">Поціновувачка смачної їжі</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </li>
          <li class="reviews-slider__item">
            <div class="reviews-slider__content d-flex f-jcc f-alc">
              <img class="reviews-slider__img" src="images/daryna-client.jpg" alt="Клієнт Дарина" width="300"
                height="300">
              <div class="reviews-slider__box">
                <blockquote class="reviews-slider__blockquote">
                  <p class="reviews-slider__text text">SimpleFood - одна з найкращих служб доставки продуктів з
                    ресторанів у місті. Дуже
                    зручний сайт та застосунок. Їхні доставники дуже ввічливі та пунктуальні. Компанія часто проводить
                    акції та дарує знижки на доставку - однозначно рекомендую!</p>
                </blockquote>
                <figure class="reviews-slider__figure">
                  <figcaption class="reviews-slider__figcaption">Дарина
                    <span class="reviews-slider__subtitle">Поціновувачка смачної їжі</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </li>
          <li class="reviews-slider__item d-flex f-jcc f-alc">
            <div class="reviews-slider__content d-flex f-jcc f-alc">
              <img class="reviews-slider__img" src="images/daryna-client.jpg" alt="Клієнт Дарина" width="300"
                height="300">
              <div class="reviews-slider__box">
                <blockquote class="reviews-slider__blockquote">
                  <p class="reviews-slider__text text">SimpleFood - одна з найкращих служб доставки продуктів з
                    ресторанів у місті. Дуже
                    зручний сайт та застосунок. Їхні доставники дуже ввічливі та пунктуальні. Компанія часто проводить
                    акції та дарує знижки на доставку - однозначно рекомендую!</p>
                </blockquote>
                <figure class="reviews-slider__figure">
                  <figcaption class="reviews-slider__figcaption">Дарина
                    <span class="reviews-slider__subtitle">Поціновувачка смачної їжі</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </li>
          <li class="reviews-slider__item">
            <div class="reviews-slider__content d-flex f-jcc f-alc">
              <img class="reviews-slider__img" src="images/daryna-client.jpg" alt="Клієнт Дарина" width="300"
                height="300">
              <div class="reviews-slider__box">
                <blockquote class="reviews-slider__blockquote">
                  <p class="reviews-slider__text text">SimpleFood - одна з найкращих служб доставки продуктів з
                    ресторанів у місті. Дуже
                    зручний сайт та застосунок. Їхні доставники дуже ввічливі та пунктуальні. Компанія часто проводить
                    акції та дарує знижки на доставку - однозначно рекомендую!</p>
                </blockquote>
                <figure class="reviews-slider__figure">
                  <figcaption class="reviews-slider__figcaption">Дарина
                    <span class="reviews-slider__subtitle">Поціновувачка смачної їжі</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>