    <section class="top-restaurants section">
      <div class="container">
        <h2 class="title">
          Найкращі ресторани
        </h2>
        <ul class="top-restaurants__list">
          <li class="top-restaurants__item">
            <article class="restaurants-card">
              <img class="restaurants-card__img" src="images/products/resto-1.jpg" alt=" ресторан Blaze Pizza"
                width="370" height="300">
              <div class="restaurants-card__box">
                <h3 class="restaurants-card__title">Blaze Pizza</h3>
                <div class="restaurants-card__info d-flex f-jcsb">
                  <span class="restaurants-card__time">11:00 - 22:00</span>
                  <a class="restaurants-card__btn animation-btn" href="#">
                    <svg class="restaurants-card__icon">
                      <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                    <span class="sr-only">почитати детальніше</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="top-restaurants__item">
            <article class="restaurants-card">
              <img class="restaurants-card__img" src="images/products/resto-2.jpg" alt=" ресторан Pizza Runcho"
                width="370" height="300">
              <div class="restaurants-card__box">
                <h3 class="restaurants-card__title">Pizza Runcho</h3>
                <div class="restaurants-card__info d-flex f-jcsb">
                  <span class="restaurants-card__time">12:00 - 2:00</span>
                  <a class="restaurants-card__btn animation-btn" href="#">
                    <svg class="restaurants-card__icon">
                      <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                    <span class="sr-only">почитати детальніше</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="top-restaurants__item">
            <article class="restaurants-card">
              <img class="restaurants-card__img" src="images/products/resto-3.jpg" alt=" ресторан Pizza Hut"
                width="370" height="300">
              <div class="restaurants-card__box">
                <h3 class="restaurants-card__title">Pizza Hut</h3>
                <div class="restaurants-card__info d-flex f-jcsb">
                  <span class="restaurants-card__time">11:00 - 22:00</span>
                  <a class="restaurants-card__btn animation-btn" href="#">
                    <svg class="restaurants-card__icon">
                      <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                    <span class="sr-only">почитати детальніше</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="top-restaurants__item">
            <article class="restaurants-card">
              <img class="restaurants-card__img" src="images/products/resto-1.jpg" alt=" ресторан 4" width="370"
                height="300">
              <div class="restaurants-card__box">
                <h3 class="restaurants-card__title">BMcDonald`s</h3>
                <div class="restaurants-card__info d-flex f-jcsb">
                  <span class="restaurants-card__time">06:00 - 23:00</span>
                  <a class="restaurants-card__btn animation-btn" href="#">
                    <svg class="restaurants-card__icon">
                      <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                    <span class="sr-only">почитати детальніше</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="top-restaurants__item">
            <article class="restaurants-card">
              <img class="restaurants-card__img" src="images/products/resto-5.jpg" alt=" ресторан KFC" width="370"
                height="300">
              <div class="restaurants-card__box">
                <h3 class="restaurants-card__title">KFC</h3>
                <div class="restaurants-card__info d-flex f-jcsb">
                  <span class="restaurants-card__time">06:00 - 23:00</span>
                  <a class="restaurants-card__btn animation-btn" href="#">
                    <svg class="restaurants-card__icon">
                      <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                    <span class="sr-only">почитати детальніше</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="top-restaurants__item">
            <article class="restaurants-card">
              <img class="restaurants-card__img" src="images/products/resto-6.jpg" alt=" ресторан Star Burgers"
                width="370" height="300">
              <div class="restaurants-card__box">
                <h3 class="restaurants-card__title">Star Burgers</h3>
                <div class="restaurants-card__info d-flex f-jcsb">
                  <span class="restaurants-card__time">09:00 - 21:00</span>
                  <a class="restaurants-card__btn animation-btn" href="#">
                    <svg class="restaurants-card__icon">
                      <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                    <span class="sr-only">почитати детальніше</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </section>
