    <section class="downoload-app section">
      <div class="container">
        <div class="downoload-app__content d-flex f-jcsb f-alc">
          <div class="downoload-app__info">
            <h2 class="downoload-app__title title t-left">Завантажте мобільний
              застосунок</h2>
            <p class="downoload-app__text text">Ресторани, які ви любите - у ваших руках. Встановлюйте застосунок та
              замовляйте їжу в
              зручному місці в зручний час</p>
            <ul class="downoload-app__list d-flex">
              <li class="downoload-app__item">
                <a class="downoload-app__link" href="#" target="_blank">
                  <img src="images/app-store.svg" alt="додаток app store" width="120" height="40">
                </a>
              </li>
              <li class="downoload-app__item">
                <a class="downoload-app__link" href="#" target="_blank">
                  <img class="downoload-app__img" src="images/play-store.svg" alt="додаток play store" width="135"
                    height="40">
                </a>
              </li>
            </ul>
          </div>
          <div class="downoload-app__bk" style="background-image: url(images/get-app.jpg);"></div>
        </div>
      </div>
    </section>