  <footer class="footer" id="contact">
    <div class="container">
      <div class="footer-top section">
        <h2 class="sr-only">Контактна інфрормація</h2>
        <div class="connect footer-top__item">
          <a class="logo footer-top__logo" href="#">
            <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
          </a>
          <form class="form-user connect__form" action="#">
            <label for="useremail" class="sr-only">вкажіть ваш емейл</label>
            <input class="form-user__input" type="email" id="useremail" name="email" placeholder="Ваш email" required>
            <button class="form-user__button animation-btn" type="submit">
              <svg class="form-user__button-icon">
                <use xlink:href="images/sprite.svg#icon-frame"></use>
              </svg>
              Підписатися
            </button>
          </form>
        </div>
        <ul class="contact-list">
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Як це працює
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Про нас
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Застосунок
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Продукти
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Новини
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Блог
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Страви
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Партнери
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Що нового?
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Меню
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              ЧаПи
            </a>
          </li>
          <li class="contact-list__item">
            <a class="contact-list__link animation" href="#">
              Мапа сайту
            </a>
          </li>
        </ul>
        <address class="address">
          <ul class="address-list">
            <li class="address-list__item d-flex f-alc">
              <a class="address-list__link animation address-list__link--location" href="#" target="_blank"> вул.
                Т.Г.Шевченка, 1
              </a>
            </li>
            <li class="address-list__item d-flex f-alc">
              <a class="address-list__link animation address-list__link--call" href="tel:380501112233" target="_blank">
                380501112233
              </a>
            </li>
            <li class="address-list__item d-flex f-alc">
              <a class="address-list__link animation address-list__link--message" href="mailto:support@sfood.com"
                target="_blank">
                support@sfood.com
              </a>
            </li>
          </ul>
          <ul class="address-social d-flex f-alc">
            <li class="address-social__item">
              <a class="address-social__link d-flex f-alc f-jcc" href="#" target="_blank">
                <svg class="address-social__link-icon">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
                <span class="sr-only">перейти на сторінку фейсбуку</span>
              </a>
            </li>
            <li class="address-social__item">
              <a class="address-social__link d-flex f-alc f-jcc" href="#" target="_blank">
                <svg class="address-social__link-icon">
                  <use xlink:href="images/sprite.svg#icon-twitter"></use>
                </svg>
                <span class="sr-only">перейти на сторінку твітеру</span>
              </a>
            </li>
            <li class="address-social__item">
              <a class="address-social__link d-flex f-alc f-jcc" href="#" target="_blank">
                <svg class="address-social__link-icon">
                  <use xlink:href="images/sprite.svg#icon-instagram"></use>
                </svg>
                <span class="sr-only">перейти на сторінку інстаграму</span>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-bottom">
      <span class="footer-bottom__copy">© 2023 Simple Food</span>
    </div>
  </footer>