<section class="promotions-discounts section">
      <div class="container">
        <h2 class="promotions-discounts__title title t-left">Акції та знижки</h2>
        <div class="promotions-discounts__inner swiper">
          <ul class="promotions-discounts__list d-flex swiper-wrapper">
            <li class="promotions-discounts__item  d-flex swiper-slide">
              <article class="restaurants-card d-flex f-dc">
                <img class="restaurants-card__img" src="images/products/resto-1.jpg" alt=" ресторан Blaze Pizza"
                  width="370" height="300">
                <div class="restaurants-card__box">
                  <h3 class="restaurants-card__title">Знижка на другу піцу</h3>
                </div>
              </article>
            </li>
            <li class="promotions-discounts__item swiper-slide d-flex">
              <article class="restaurants-card d-flex f-dc">
                <img class="restaurants-card__img" src="images/products/resto-2.jpg" alt=" ресторан Pizza Runcho"
                  width="370" height="300">
                <div class="restaurants-card__box">
                  <h3 class="restaurants-card__title">Картопелька з KFC задарма при замовленні бургера</h3>
                </div>
              </article>
            </li>
            <li class="promotions-discounts__item swiper-slide d-flex">
              <article class="restaurants-card d-flex f-dc">
                <img class="restaurants-card__img" src="images/products/resto-3.jpg" alt=" ресторан Pizza Hut"
                  width="370" height="300">
                <div class="restaurants-card__box">
                  <h3 class="restaurants-card__title">Чорні бургери на чорний день</h3>
                </div>
              </article>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>